<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sf.bocfinancialsoftware">

    <application
        android:name=".util.ContextUtil"
        android:allowBackup="true"
        android:icon="@mipmap/ic_application_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.analyse.BocAnalyseListActivity" />
        <activity android:name=".activity.analyse.BocAnalyseDetailActivity" />
        <activity android:name=".activity.message.MessageReminderActivity" />
        <activity android:name=".activity.message.ImportMessageListActivity" />
        <activity android:name=".activity.message.ExportMessageListActivity" />
        <activity android:name=".activity.message.GuaranteeMessageListActivity" />
        <activity android:name=".activity.message.FactoringMessageListActivity" />
        <activity android:name=".activity.message.ForwardMessageListActivity" />
        <activity android:name=".activity.business.BusinessQueryActivity" />
        <activity android:name=".activity.business.BusinessQueryCriteriaActivity" />
        <activity android:name=".activity.business.BusinessQueryResultActivity" />
    </application>

</manifest>